<div class="page-header">
    <h1>Alapanyagok</h1>
</div>

{{alapanyag-list alapanyagok=model}}

<p>{{link-to "Új alapanyag" "alapanyagok.new" class="btn btn-default"}}
   {{link-to "Receptek" "receptek.list" class="btn btn-default"}}</p>