<div class="page-header">
    <h1>Receptek</h1>
</div>

{{recept-list receptek=model}}
{{link-to "Új recept" "receptek.new" class="btn btn-default"}}
{{link-to "Alapanyagok" "alapanyagok.list" class="btn btn-default"}}